{erl_opts, [debug_info,
            {i, ["include"]}]}.
{clean_files, ["logs"]}.
{ct_dir, "test"}.
{ct_log_dir,"test"}.
{xref_checks, [undefined_function_calls,
               undefined_functions,
               locals_not_used,
               exports_not_used,
               deprecated_function_calls,
               deprecated_functions]}.
{post_hooks,[{eunit, "cat .eunit/leaderboard.prob1.txt"}]}.
